body{
  text-align: center;
  font-family:Open Sans,sans-serif;
  background-color: 	#483D8B;
  color: #ffffff;
  margin: 0px 0px 0px 0px;
}

h2{
  color: #000080;
  font-size: 40px;
}

.título-azul{
  color: #00008B;
}

.título-verde{
  color: #04ff9f;
}

.título-vermelho{
  color:#FF9E9E;
}

.título-amarelo{
  color:#ffe36d;
}

section{
  width: 60%;
  margin:O auto;
}

section section{
  width: 100%;
}

h1{
  font-size: 60px;
  font-weight: 300;
}

h3{
  font-size: 22px;
  font-style: italic;
}

p{
  line-height: 1.5;
  font-size: 20px;
}

img{
  width: 100%;
}

section{
  width: 60%;
  margin: 0 auto ;
  
}

ul{
  list-style-type: none;
  line-height: 2;
  padding-left: 0;
  
}

a:hover{
  text-decoration: none;
  font-weight: 700;
  color: pink;
}

.principal{
  background: #ff6cb5;
  height: 40px;
  max-width: 60%;
  margin: 0 auto;
}

.principal a{
  color: #fff;
  text-decoration: underline;
  font-weight: normal;
}

.principal li{
  display: inline-block;
  line-height: 2.5;
  margin: 0 29px;
}

button{
  background-color: #41f341;
  border: 1px solid transparent;
  padding: 2px 20px;
  border-radius: 3px;
}
